body {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ul li a {
  text-decoration: none;
}

header > img {
  width: 100px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user-review h4 {
  font-size: 18px;
  font-weight: bold;
}

