html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

h1{
  font-size: 28px;
  font-weight: 700;
  margin: 20px 10px 10px 20px;
}

body{
  display: flex;
  justify-content: space-around;
}

/* Clock */

.clock {
  background: #48BA92;
  border: 2px solid gray;
  width: 400px;
  font-family: Raleway;
  font-size: 32px;
  color: white;
  padding: 20px;
  margin: 0 20px 20px 20px;
}

.clock p {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
