html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

h1{
  font-size: 28px;
  font-weight: 700;
  margin: 20px 10px 10px 20px;
}

body{
  display: flex;
  justify-content: space-around;
}

.interactive {
  display: flex;
  justify-content: space-between;
}

/* Clock */

.clock {
  background: #48BA92;
  border: 2px solid gray;
  width: 400px;
  font-family: Raleway;
  font-size: 32px;
  color: white;
  padding: 20px;
  margin: 0 20px 20px 20px;
}

.clock p {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* Tabs */

.tabs {
  width: 240px;
  height: 200px;
}

.tab-header {
  width: 200px;
  height: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
}

.tab-header > li {
  width: 65px;
  border-top: 2px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 2px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
}

.tab-header > li:hover{
  background-color: gray;
  color: white;
}

.active{
  font-weight: bold;
  border-bottom: none !important;
}

.tab-content{
  font-weight: bold;
  color: white;
  height: 192px;
  margin: 0 20px;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

/* Weather */

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  background:#87BE0D;
  border: 2px solid gray;
  margin: 0 20px 20px 20px;
  padding: 20px;
  color: white;
}

.weather p {
  font-size: 24px;
  padding: 10px;
}

/* Autocomplete */

.auto{
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 191px;
  height: 200px;
  border: 2px solid gray;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: #A518D7;
}

.auto > * {
  margin-left: 30px;
}

.auto > input{
  background: white;
  color: black;
  margin: 10px 30px 0 30px;
  border: 1px solid gray;
}

.auto li{
  cursor: pointer;
}

/* react animation */
.auto-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.auto-leave {
  opacity: 1;
  transform: translateY(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 500ms, transform 500ms;
}
