/* PHASE 2: Navigation */

.header-logo {
  float: left;
  font-weight: 700;
}

.header-logo:hover {
  background: #000;
  cursor: pointer;
}

.header-list {
  float: right;
}

.header-list > li {
  float: right;
}

.header-list > li:hover {
  background: #000;
  cursor: pointer;
}
