/* PHASE 4: Footer */

.footer {
  width: 900px;
  margin: auto;
  background: white;
  border: 1px solid #ccc;
  color: #ccc;
}

.footer-copy {
  padding: 20px;
  display: block;
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  display: block;
  padding: 20px;
}

.footer a:hover {
  color: black;
}
